.contact-info {

    &__title {
        max-width: 90%;
        margin-bottom: 20px;
        color: $color-white;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 600;
        text-align: left;
    
        @include mq(tablet) {
           margin-bottom: 30px;
           font-size: 26px;
           line-height: 1.3;
        }

        @include mq(desktop) {
           max-width: 600px;
           margin-bottom: 40px;
           font-size: 48px;
           font-weight: 700;
           line-height: 1.36;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 25px 15px;
        background-color: $color-bg-faq;

        @include mq(tablet) {
            padding: 25px;
        }


        @include mq(desktop) {
            flex-direction: row;
            padding: 0;
        }
    }
}
.reach-us {

    color: $color-black;
        @include mq(desktop) {
            padding: 60px 45px;
        }

    &__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 600;
        text-align: left;

        @include mq(tablet) {
           font-size: 22px;
        }

        @include mq(desktop) {
            max-width: 500px;
            margin-bottom: 30px;
            font-size: 26px;
            font-weight: 700;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 90%;
        margin-bottom: 20px;

        @include mq(tablet) {
            gap: 15px;
        }

        @include mq(desktop) {
            gap: 15px;
        }
    }

    &__icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        flex-shrink: 0;

        transition: transform $duration $timing-function;

        &.phone-icon {
            background-image: url('../images/icons/phone.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/phone-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.email-icon {
            background-image: url('../images/icons/email.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/email-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.clock-icon {
            background-image: url('../images/icons/clock.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/clock-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.local-icon {
            background-image: url('../images/icons/local.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/local-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    
        &__label {
            color: $color-label-2;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.4;
            

            @include mq(desktop) {
               font-size: 14px; 
            }
        }
    
        &__link {
            font-size: 13px;
            font-weight: 600;
            line-height: 1.5;

            @include mq(tablet) {
               font-size: 14px; 
            }

            @include mq(desktop) {
               font-size: 18px; 
            }
        }
}

.map {
    width: 100%;
    height: 300px;
    overflow: hidden;

    @include mq(desktop) {
        padding: 10px;
        height: 600px;
    }
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}