.feature-description {      
    &__wrapper {
        // padding: 40px 20px;
        // padding-bottom: 40px;
        background-color: $color-white;
    }
    &__title {
        font-size: 18px;
        color: $color-black;
        font-weight: 600;
        text-align: center;
        
        @include mq(desktop) {
        font-size: 32px;
        }
    }

    &__subtitle {
        font-size: 16px;
        color: $color-black;
        font-weight: 600;
        text-align: center;

        @include mq(desktop) {
        font-size: 20px;
        }
    }

    &__text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.5;
        color: $color-black;
        font-weight: 400;

        @include mq(desktop) {
        font-size: 20px;
        }
    }
    
    &__img {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
}

.features {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;

        @include mq(monitor) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &__item {
        margin: 0;
    }

    &__btn {
        padding: 8px 6px;
        color: $color-akcent;
        background-color: $color-bg-item;
        border: none;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
        cursor: pointer;

        @include mq(tablet) {
            padding: 8px 12px;
            font-size: 20px;
        }

        @include mq(desktop) {
            padding: 12px 16px;
            font-size: 24px;
        }

        &.active {
            color: $color-black;
            background-color: $color-white;
        }
    }
}

.feature {
    &__list {
    }

    &__item {
        padding: 40px 20px;
        background-color: $color-white;
    }

    &__title {
        // margin-bottom: 10px;
        margin: 20px 0 10px;
        font-size: 20px;
        color: $color-black;
        font-weight: 600;
        text-align: center;

        @include mq(tablet) {
        margin: 20px 0;
        }
        
        @include mq(desktop) {
            font-size: 32px;
        }
    }

    &__subtitle {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
        color: $color-black;

        @include mq(desktop) {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 1.4;
        }
    }

    &__text {
        margin-bottom: 20px;
        font-size: 16px;
        color: $color-black;
        font-weight: 400;

        @include mq(desktop) {
        font-size: 20px;
        }
    }

    &__text-bottom {
        font-size: 16px;
        color: $color-black;
        font-weight: 400;

        @include mq (desktop) {
        font-size: 20px;
        }
    }
    
    &-inner {
            display: flex;
            flex-direction: column;
            gap: 20px;

        @include mq(desktop) {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            padding: 20px;
            // margin: 30px 0;
        }

        &.text-start {
            justify-content: start;
            gap: 40px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            padding: 20px 0; 

            // &__title {
            //     margin-bottom: -10px;
            //     font-size: 16px;
            //     font-weight: 600;
            //     color: $color-black;
            //     @include mq(tablet) {
            //         // max-width: 270px;
            //     }
            //     @include mq(desktop) {
            //         // max-width: 500px;
            //         font-size: 20px;
            //     }
            // }
        }

        &__item {
            position: relative;
            padding-left: 20px;

            @include mq(tablet) {
                padding-left: 70px;
            }

            @include mq(desktop) {
                padding-left: 70px;
            }
        }

        // &__item:not(:last-child) {
        //     margin-bottom: 20px;
        // }

        &__item>p::before {
            content: ''; /* Пустий вміст */
            display: inline-block;
            width: 6px; /* Розмір булета */
            height: 6px;
            background-color: $color-akcent; /* Колір булета */
            border-radius: 50%; /* Робить булет круглим */
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%); /* Центруємо по вертикалі */

            @include mq(tablet) {
                width: 50px;
                height: 3px;
                border-radius: 0%;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 1.2;
            color: $color-black;
            font-weight: 600;
            max-width: 100%;

            @include mq(tablet) {
                max-width: 540px;
            }

            @include mq(desktop) {
                font-size: 18px;
                max-width: 520px;
                font-size: 20px;
            }

            @include mq(monitor) {
                max-width: 560px;
                font-size: 20px;
            }
        }

        &__text>span {
            font-weight: 400;
        }

        & > img {
            width: 100%;
            height: auto;

            @include mq(desktop) {
                width: 50%;
            }           
        }
    }

    &-wrapper {
        padding: 20px;
        background-color: $color-white;

        @include mq(tablet) {
        // padding: 40px 20px;
        }

        @include mq(desktop) {
        // padding: 10px 20px 20px;
        // background-color: $color-bg-item;
        }

        &__text {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 400;
            color: $color-black;

            @include mq(desktop) {
            font-size: 20px;
            }
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }

    &-block {
        @include mq(tablet) {
            // display: flex;
            // justify-content: space-between;
            // gap: 20px;
        }

        @include mq(tablet) {
            // padding: 30px 0;
        }

        &__title {
            // margin-bottom: -10px;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 600;
            color: $color-black;

            @include mq(tablet) {
                // margin-bottom: 0;
            }

            @include mq(desktop) {
                // max-width: 500px;
                font-size: 20px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            padding-bottom: 20px;

            @include mq(desktop) {
                gap: 15px;
            } 
        }

        &__item {
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;

            @include mq(tablet) {
                padding-left: 70px;
            }
        }

        // &__item:not(:last-child) {
        //     margin-bottom: 20px;
        // }

        &__item>p::before {
            content: ''; /* Пустий вміст */
            display: inline-block;
            width: 6px; /* Розмір булета */
            height: 6px;
            background-color: $color-akcent; /* Колір булета */
            border-radius: 50%; /* Робить булет круглим */
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%); /* Центруємо по вертикалі */

            @include mq(tablet) {
                width: 50px;
                height: 3px;
                border-radius: 0%;
            }
        }

        &__text {
            font-size: 16px;
            font-weight: 600;
            color: $color-black;

            @include mq(tablet) {
                // max-width: 270px;
            }

            @include mq(desktop) {
                // max-width: 500px;
                font-size: 20px;
            }

            &--bottom {
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 600;
            color: $color-black;

                @include mq(tablet) {
                    // max-width: 270px;
                }

                @include mq(desktop) {
                    // max-width: 500px;
                    font-size: 20px;
                }
            }
        }

        &__list--numbered {
            counter-reset: numbered-item; // Унікальний лічильник для цього блоку
        }

        &__list--numbered .feature-block__item > p::before {
            content: counter(numbered-item); // Відображаємо значення лічильника
            counter-increment: numbered-item; // Збільшуємо лічильник
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color-akcent;
            color: $color-white;
            font-weight: 700;
            position: absolute;
            left: 0px; // Розташовуємо зліва від тексту
            top: 50%;
            transform: translateY(-50%);
        }

        &__list--numbered>.feature-block__item {
            padding-left: 50px;
        }

        &__text>span {
            font-weight: 400;
        }

        // &__text-bottom {
        //     margin-bottom: 20px;
        //     font-size: 16px;
        //     font-weight: 400;
        //     color: $color-black;

        //     @include mq(tablet) {
        //         // max-width: 270px;
        //     }

        //     @include mq(desktop) {
        //         // max-width: 500px;
        //         font-size: 20px;
        //     }
        // }

        & > img {
            width: 100%;
            height: auto;
            margin: 20px 0;
        
            @include mq(tablet) {
                margin: 0;
                max-width: calc(50% - 20px);
                height: auto;
            }
        
            @include mq(desktop) {
                margin: 30px 0;
            }
        }
    }
}