.accordion-more {

    &__header--title {
        margin: 40px 0 20px;
        font-size: 18px;
        color: $color-black;
        font-weight: 600;
        text-align: center;
        
        @include mq(desktop) {
        font-size: 32px;
        }
    }

    &__wrapper {
        width: 100%;
    }

    &__list {
        margin: 20px 0;
    }

    &__item {
        margin-bottom: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }

    &__header {
        background-color: $color-akcent;
        padding: 15px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        transition: background-color $duration $timing-function;
    }

    &__toggle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 0;
        width: 100%;
        border: none;
        background: none;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: $color-black;
        cursor: pointer;
    }

    &__icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        flex-shrink: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: $color-white;
            transition: transform $duration $timing-function;
        }
        &::before {
            top: 0;
            left: 9px;
            width: 2px;
            height: 100%;
        }
        &::after {
            top: 9px;
            left: 0;
            width: 100%;
            height: 2px;
        }
    }

    &__title {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
        color: $color-white;

        @include mq(desktop) {
        font-size: 22px;
        }
    }

    &__img {
        
        @include mq(desktop) {
            width: 200%;
        }
    }
}

.accordion-more__item.is-active .accordion-more__icon::before {
    transform: rotate(90deg) scaleY(0);
}
.accordion-more__item.is-active .accordion-more__icon::after {
    background-color: $color-white;
}

.accordion-more__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: $color-bg-faq;
    padding: 0 20px;
    max-height: 0;
    opacity: 0;
    transition: max-height $duration $timing-function, opacity $duration $timing-function, padding $duration $timing-function;

    @include mq(desktop) {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }
}

.accordion-more__img {
    margin: auto 0;
}

.accordion-more__content p {
    font-size: 16px;
    line-height: 1.5;
    color: $color-black;

    @include mq(desktop) {
        width: 640px;
    }
    
}

.accordion-more__item.is-active .accordion-more__content {
    max-height: 500px;
    overflow-y: auto;
    opacity: 1;
    padding: 20px;
}

.text-container {
    &__item {
        position: relative;
        padding-left: 20px;
    }

    &__item>p::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $color-akcent;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}