.advantages-about {

    &__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $color-dark-bg inset;
        border: solid $color-dark-bg 2px;
        background-color: $color-white;

        @include mq(desktop) {
        width: 120px;
        height: 120px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        padding: 0;

        @include mq(desktop) {
            flex-direction: row;
        }

    }

    &__wrapper-bg {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        margin-top: 30px;
        padding: 70px 20px 20px;
        background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url(../images/services/home/hero-home.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include mq(tablet) {
            padding: 70px 30px 60px;
        }
        @include mq(desktop) {
            flex-direction: row;
            gap: 60px;
            padding: 90px 40px 60px;
        }
    }

    &__item {
        text-align: center;
        // margin-left: auto;
        // margin-right: auto;
    }

    &__title {
        max-width: 70%;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        color: $color-black;

        @include mq(tablet) {
        font-size: 22px;
        }
        
        @include mq(desktop) {
        width: 80%;
        font-size: 24px;
        }

        @include mq(monitor) {
        width: 70%;
        }
    }

    &__description {
        max-width: 80%;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: $color-black;
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {
        // max-width: 90%;
        font-size: 16px;
        }
        
        @include mq(desktop) {
        max-width: 90%;
        font-size: 18px;
        } 
    }
}

.advantages-info__title {
        display: block;
        margin: 20px auto 10px;
        color: $color-white;
        font-size: 32px;
        font-weight: 600;
        text-align: center;

        @include mq(tablet) {
            font-size: 52px;
        }

        @include mq(desktop) {
        text-align: left;
        }
    }