.advantages {

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        padding: 0;

        @include mq(desktop) {
            flex-direction: row;
        }

    }

    &__wrapper-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        padding: 20px 20px;
        background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/home/hero-home.jpg');
        background-size: cover;
        background-position: 0% 70%;
        background-repeat: no-repeat;

        &.townhouse {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/townhouse/hero-townhouse.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: 0% 60%;
        }

        &.kitchen {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/kitchen/hero-kitchen.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: center;
        }

        &.bathroom {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/bathroom/hero-bathroom.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: 0% 60%;
        }

        &.interior {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/interior/hero-interior.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: 0% 60%;
        }

        &.exterior {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/exterior/hero-exterior.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: center;
        }

        &.smart {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/services/smart/hero-smart.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            background-position: center;
        }

        @include mq(tablet) {
            padding: 30px 60px;
        }
        @include mq(desktop) {
            flex-direction: row;
            gap: 60px;
            padding: 40px 60px;
        }
    }

    &__item {
        text-align: center;
    }

    &__title {
        max-width: 70%;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        color: $color-black;

        @include mq(tablet) {
        font-size: 22px;
        }
        
        @include mq(desktop) {
        width: 80%;
        font-size: 24px;
        }

        @include mq(monitor) {
        width: 70%;
        }
    }

    &__description {
        max-width: 80%;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: $color-black;
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {
        font-size: 16px;
        }
        
        @include mq(desktop) {
        max-width: 90%;
        font-size: 18px;
        } 
    }
}