html {
   scroll-behavior: smooth;
//        box-sizing: border-box;
// }
// *, *::before, *::after {
//     box-sizing: inherit;
}

body {
   padding-top: 111px;
   font-family: $main-font;
   color: $color-white;
   background-color: $color-dark-bg;

   @include mq(desktop) {
   padding-top: 175px;
   }

    @include mq(monitor) {
   padding-top: 195px;
   }
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @include mq(mobile) {
      max-width: 480px;
   }

   @include mq(tablet) {
      max-width: 768px;
      padding-left: 30px;
      padding-right: 30px;
   }

   @include mq(desktop) {
      max-width: 1440px;
      padding-left: 25px;
      padding-right: 25px;
   }

    @include mq(monitor) {
      max-width: 1920px;
      padding-left: 225px;
      padding-right: 225px;
   }
}

.padding-lr {

    @include mq(tablet) {
      padding: 0px 35px;
    }

    @include mq(desktop) {
      padding: 0px 30px;
    }
}

.section {
   padding: 30px 0;

   @include mq(tablet) {
      padding: 40px 0;
   }

   @include mq(desktop) {
      padding: 60px 0;
   }
}

.link {
   text-decoration: none;
   color: currentColor;
}

.list {
   padding: 0;
   margin: 0;
   list-style: none;
}

// .header,
// .features,
// .ourwork,
// .clients {
//    background-color: $color-white-bg;
// }


.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.active {
//    color: $color-black;
//    background-color: $color-white-bg;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.heading {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 10px;
    color: $color-white;
    text-align: center;

    @include mq(tablet) {
        font-size: 40px;
    }

    @include mq(desktop) {
    font-size: 48px;
    margin-bottom: 30px;
    }

    @include mq(monitor) {
    font-size: 56px;
    }
}

.subheading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-white;
    text-align: center;
    margin-bottom: 15px;

    @include mq(tablet) {
        font-size: 20px;
    }

    @include mq(desktop) {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
    }

    @include mq(monitor) {
    font-size: 28px;
    }
}

.socials__list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socials__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; // Для позиціонування псевдоелемента

    // Анімація transform, якщо потрібна
    transition: transform $duration $timing-function;

    &.instagram {
        background-image: url('../images/instagram.png');

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/instagram-hover.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: opacity $duration $timing-function;
        }

        &:hover,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
    }

    &.facebook {
        background-image: url('../images/facebook.png');

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/facebook-hover.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: opacity $duration $timing-function;
        }

        &:hover,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
    }

    &.google {
        background-image: url('../images/google.png');

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/google-hover.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: opacity $duration $timing-function;
        }

        &:hover,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
    }

    &.whatsapp {
        background-image: url('../images/whatsapp.png');

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/whatsapp-hover.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: opacity $duration $timing-function;
        }

        &:hover,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
    }
}

/* Базові стилі контейнера */
.policy-container {
    padding: 15px;
    font-family: Arial, sans-serif; /* Використовуйте шрифт, зручний для читання */

    @include mq(tablet) {
        max-width: 800px;
        padding: 30px;
    }

    @include mq(desktop) {
        max-width: 1000px;
        padding: 20px;
    }
}

/* Стилі для заголовків */
.policy-container h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: "Lora", serif;
    text-align: left;

    @include mq(desktop) {
        font-size: 2.2em;
        max-width: 1000px;
        padding: 20px;
        text-align: center; /* Центрування головного заголовка */
    }
}

.policy-container h2 {
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #555; /* Трохи темніший колір для секцій */

    @include mq(desktop) {
        font-size: 1.6em;
    }
}

.policy-container h3 {
    font-size: 1.2em;
    margin-top: 15px;
    color: #666;
}

/* Стилі для абзаців та списків */
.policy-container p, .policy-container li {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1em;
    color: #777;

    @include mq(desktop) {
    font-size: 16px; /* Забезпечуємо достатній розмір шрифту */

    }
}

.policy-container ul {
    padding-left: 25px;
    margin-bottom: 15px;
}


