.contact-us {
    &__wrapper-bg {
        position: relative;
        padding: 16px;
        padding-bottom: 30px;
        color: $color-black;
        background-color: $color-white-bg;
    }

    &__title {
        display: block;
        margin: 20px auto 10px;
        color: $color-akcent;
        font-size: 32px;
        font-weight: 600;
        text-align: center;

        @include mq(tablet) {
            font-size: 52px;
        }

        @include mq(desktop) {
        text-align: left;
        }
    }

    &__subtitle {
        display: block;
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;

        @include mq(tablet) {
            font-size: 34px;
        }

        @include mq(desktop) {
        text-align: left;
        }
    }

    // &__img-director {
    //     position: absolute;
    //     top: 20px;
    //     right: 20px;
    //     width: 120px;
    //     z-index: 1;

    //     @include mq(tablet) {
    //     top: 20px;
    //     right: 40px;
    //     width: 160px;
    //     }

    //     @include mq(desktop) {
    //     top: 30px;
    //     // bottom: 0px;
    //     right: 240px;
    //     width: 250px;
    //     }
    // }

    &__img-interior {
        display: none;

        @include mq(desktop) {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            // width: 120px;
            height: 100%;
        }
    }

    &-form {

        &__mob {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mq(desktop) {
                display: none;
            }
        }

        &__field {
            width: 100%;
            // margin-bottom: 20px;

            @include mq(desktop) {
                width: 380px;
            }
        }

        &__label {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            color: $color-black;
            font-weight: 400;

            @include mq(desktop) {
                font-size: 16px;
            }
        }

        &__input,
        &__comment {
            width: 100%;
            padding: 10px;
            border: none;
            font-size: 16px;
            background-color: $color-bg-faq;
            box-sizing: border-box;

            // @include mq(desktop) {
            //     font-size: 22px;
            // }
        }

        &__input:focus,
        &__comment:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(185, 142, 109, 0.4);
        }
        &__policy-option {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
            color: $color-black;
            cursor: pointer;

            @include mq(desktop) {
                width: 380px;
                // padding-top: 5px;
            }
        }
        
        &__inner-wrapper {
            display: inline-block;
        }

        &__link {
            margin-left: 4px;
            color: $color-akcent;
            font-weight: 400;
        }
                &__checkbox {
            /* Скрываем стандартный чекбокс */
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &__icon-check {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid $color-black;
            border-radius: 4px;
            position: relative;
            margin-right: 10px;
            flex-shrink: 0; /* Чтобы не сжимался */
        }

        &.hero-form__checkbox:checked + &__icon-check {
            background-color: $color-dark-bg;
            border-color: $color-dark-bg;
        }

        &__checkbox:checked + &__icon-check::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 1px;
            width: 7px;
            height: 12px;
            border: solid $color-akcent;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        &__policy-link {
            color: var(--primary-color); /* Цвет ссылки в тексте */
            text-decoration: none;
            transition: color 0.3s ease;
        }

        &__policy-link:hover {
            color: #0056b3;
            text-decoration: underline;
        }
        
        &__submit-btn {
            width: 70%;
            background-color: $color-akcent;
            color: $color-white;
            padding: 15px 40px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color $duration $timing-function;
        }

        &__submit-btn:hover,
        &__submit-btn:focus {
            background-color: $color-btn-hover;
        }
        
        &__submit-btn {
            display: inline-block;
            width: 100%;
            max-height: 50px;
            padding: 15px 25px;
            border: none;
            background-color: $color-akcent;
            color: $color-white;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color $duration $timing-function;

            @include mq(tablet) {
                width: 300px;
            }

            @include mq(desktop) {
                width: 380px;
            }
        }

        &__btn:hover,
        &__btn:focus {
            background-color: $color-btn-hover;
        }

        &__container-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__pc {
            display: none;

            @include mq(desktop) {
                display: flex;
                gap: 30px;
            }
        }
    }

}