.footer {
    background-color: $color-dark-bg;
    padding-top: 30px;
    padding-bottom: 56px;

    @include mq(tablet) {
    padding: 0;
    }

    &-logo {

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            @include mq(tablet) {
                justify-content: flex-start;
            }
        }

        &__img {
            border-radius: 50%;
            background-color: $color-white;
        }
        &__company {
                display: inline-block;
                color: $color-white;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 0.03em;
                text-transform: uppercase;
        }
    }

    &-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        width: 100%;
 
        @include mq(tablet) {
            flex-direction: row;
            gap: 60px;
            margin-left: auto;
            margin-right: auto;
        }

        @include mq(desktop) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mq(tablet-only) {
            flex: 1 1 100%;
        }     

        &__btn { 
            display: none;
            width: 100%;
            padding: 15px 25px;
            border: none;
            background-color: $color-akcent;
            color: $color-white;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color $duration $timing-function;


            @include mq(tablet) {
                max-width: 290px;
            }
        }

        &__btn:hover,
        &__btn:focus {
            background-color: $color-btn-hover;
        }

        &__offer {
            max-width: 90%;
            font-size: 14px;
            line-height: 1.5;

            @include mq(tablet) {
                max-width: 300px;
            }

            @include mq(desktop) {
                max-width: 370px;
            }
        }


        &__link {
            color: $color-akcent;
        }

        &__license>p:not(:last-child){
            margin-bottom: 5px;
        }
    }

    &-links {

        @include mq(tablet-only) {
            flex: 1 1 45%;
        }   
    }

    &-links__link>a {
        color: $color-white;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.55;
    }

    &-links__title,
    &-findus__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    &-links {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mq(desktop) {          
            display: flex;
            gap: 40px;
        }
    }

    &-links__list>li:not(:last-child){
        margin-bottom: 10px;
    }

    &-links__item::not(:last-child) {
        margin-bottom: 10px;
    }

    &-links__link {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
    }

    &-findus {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mq(tablet-only) {
            flex: 1 1 45%;
        }   

        @include mq(desktop) {          
            display: flex;
            gap: 40px;
        }

        &__item {
            display: flex;
            gap: 20px;
        }

        &__list>li:not(:last-child) {
            margin-bottom: 20px;
        }

        &__icon {
            display: inline-block;
            width: 48px;
            height: 48px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

            transition: transform $duration $timing-function;

            &.phone-icon {
                background-image: url('../images/icons/phone.png');

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/icons/phone-hover.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity $duration $timing-function;
                }

                &:hover,
                &:focus {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            &.email-icon {
                background-image: url('../images/icons/email.png');

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/icons/email-hover.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity $duration $timing-function;
                }

                &:hover,
                &:focus {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            &.local-icon {
                background-image: url('../images/icons/local.png');

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/icons/local-hover.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity $duration $timing-function;
                }

                &:hover,
                &:focus {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &__label {
            color: $color-label-2;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.42;
        }

        &__link {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
        }
    }

    &-bottom {

        &__official {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 30px 0;

        @include mq(desktop) {
            flex-direction: row;
            justify-content: space-between;
        }

        }

        &__copyright {
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            color: $color-white;

            @include mq(desktop) {
            font-size: 20px;
            font-weight: 600;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            @include mq(tablet) {
                flex-direction: row;
                gap: 10px;
            }
            
            @include mq(desktop) {
                gap: 20px;
            }
        }

        &__links>a {
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            color: $color-akcent;
            
            @include mq(desktop) {
            font-size: 20px;
            font-weight: 600;
            }
        }

        &__developer {
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            color: $color-white;
            
            @include mq(desktop) {
            font-size: 20px;
            font-weight: 600;
            }
        }

        &__developer>a {
            margin-left: 10px;
            font-size: 20px;
            color: $color-akcent;
            
            @include mq(desktop) {
            font-size: 20px;
            font-weight: 600;
            }
        }
    }
}


.mobile-btn {
    display: none;
    @include mq(mobile-small-only) {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 15px 25px;
    border: none;
    background-color: $color-akcent;
    color: $color-white;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color $duration $timing-function;
    z-index: 11;
    }

.mobile-btn:hover,
.mobile-btn:focus {
        background-color: $color-btn-hover;
    }
}