.header {
    background-color: $color-dark-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 21;
    transition: background-color 0.3s ease;

    &.scrolled {
            background-color: rgba(0, 24, 54, 0.95);
    }
    &__btn {

        display: none;
        @include mq(desktop) {    
            display: inline-block;
            max-height: 50px;
            padding: 15px 25px;
            border: none;
            background-color: $color-akcent;
            color: $color-white;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color $duration $timing-function;
        }
    }

    &__btn:hover,
    &__btn:focus {
        background-color: $color-btn-hover;
    }
}

.top-header-tier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;

    @include mq(tablet) {          
    padding: 10px 0;
    }

    @include mq(monitor) {          
    padding: 20px 0;
    }
}

.header-logo {

    &__link {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__img {
        border-radius: 50%;
        background-color: $color-white;
    }

    &__company {
        font-size: 20px;
        text-transform: uppercase;

        @include mq(tablet) {
            display: inline-block;
            color: $color-white;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.3;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }
}

.mobile-menu__btn {
    background-color: transparent;
    border: none;
    @include mq(desktop) {
        display: none;
    }
}

.contacts {
    display: none;

    @include mq(desktop) {          
        display: flex;
        gap: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        transition: transform $duration $timing-function;

        &.phone-icon {
            background-image: url('../images/icons/phone.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/phone-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.email-icon {
            background-image: url('../images/icons/email.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/email-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &__label {
        color: $color-label-2;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.42;
    }

    &__link {
        color: $color-white;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
    }
}

.bottom-header-tier {
        display: none;

    @include mq(desktop) {          
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-top: solid 1px $color-border-header;
    }
}

.site-nav {

    @include mq(mobile-only) {
        display: none;
    }

    &__list {
        display: flex;
        gap: 60px;
    }

    &__item:nth-child(2) {
        @include mq(desktop) {
            position: relative;

            & > .site-nav__link {

                position: relative;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 12px;
                    vertical-align: middle;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid $color-white;
                    transition: border-color $duration $timing-function;
                }
            }

            &:hover > .site-nav__link,
            &:focus > .site-nav__link {
                color: $color-akcent;

                &::after {
                    border-top-color: $color-akcent;
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__link {
        position: relative;
        padding: 25px 0;
        color: $color-white;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.45;
        transition: color $duration $timing-function;
    }

    &__link:hover,
    &__link:focus {
        color: $color-akcent;
        transition: color $duration $timing-function;
    }

    &__link.active {
        font-size: 24px;
        line-height: 1.33;
    }
}

.site-subnav {

    &__list {
    position: absolute;
    z-index: 21;
    top: calc(100% + 15px);
    left: 0;
    display: none;
    padding: 20px;
    width: 300px;
    max-height: 0;
    background-color: $color-white-bg;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    transition: max-height $duration $timing-function;
    }

    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    
    &__link {
        padding: 8px 16px;
        font-family: $main-font;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.45;
        color: $color-black;
    }
 
    &__link:hover,
    &__link:focus {
        color: $color-akcent;
    }
}
    
nav li:hover > .site-subnav__list,
.site-subnav__list:hover {
    display: block;
    max-height: 400px;
}



