.mobile-menu {
    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px 20px;
        background-color: $color-white-bg;
        display: flex;
        flex-direction: column;
        z-index: 31;
        transform: translateX(100%);
        transition: $duration $timing-function;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
                
        @include mq(tablet) {
            padding: 40px;
        }
                   
        @include mq(desktop) {
            display: none;
        }
    }
    
    &__nav.is-open {
        transform: translateX(0);
    }

    &__list {
        padding-bottom: 30px;
        border-bottom: solid 2px $color-akcent;
    }

    &__item:nth-child(2) {

        & > .mobile-menu__link {
            &::after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 12px;
                vertical-align: middle;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $color-black;
                transition: border-color $duration $timing-function;
            }
        }
    }

    &__link.select {
        color: $color-akcent;
        
        &::after {
            border-top-color: $color-akcent;
        }
    }

    &__item.is-open > .mobile-menu__link {
        &::after {
            transform: rotate(180deg);
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4;
        color: $color-black;
        transition: color $duration $timing-function;
    }
    
    &__link:hover,
    &__link:focus {
    color: $color-akcent;
    }

    &__close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
                        
        @include mq(tablet) {
        right: 50px;
        }
    }

    &__link.active {
        font-size: 24px;
        line-height: 1.33;
    }
}

nav li:hover > .site-subnav__list,
.site-subnav__list:hover {
    display: block;
    max-height: 350px;
}

.mobile-submenu {

    &__list {
    margin-top: 10px;
    padding: 10px;
    max-width: 300px;
    background-color: $color-white-bg;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    transition: max-height $duration $timing-function;
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }
    
    &__link {
        display: inline-block;
        font-family: $main-font;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.45;
        color: $color-black;
    }
 
    &__link:hover,
    &__link:focus {
        color: $color-akcent;
    }
}

.mobile-contacts {       
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 30px 0;

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        transition: transform $duration $timing-function;

        &.phone-icon {
            background-image: url('../images/icons/phone.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/phone-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.email-icon {
            background-image: url('../images/icons/email.png');

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/icons/email-hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity $duration $timing-function;
            }

            &:hover,
            &:focus {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &__label {
        color: $color-label-2;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.42;
    }

    &__link {
        color: $color-black;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
    }
}

