.process {
    &__list {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 40px;
        margin-top: 50px;

        @include mq(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include mq(desktop) {
            gap: 0;
        }
    }

    &__item {
        max-width: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;


        @include mq(desktop) {
        position: relative;
        max-width: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;

            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    right: -145px;
                    width: 195px;
                    height: 2px;
                    background-color: #A9A9A9;
                }
            }
        }

        @include mq(monitor) {

            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    right: -155px;
                    width: 200px;
                    height: 2px;
                    background-color: #A9A9A9;
                }
            }
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }

    &__img {
        margin: 0 auto 20px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {
        font-size: 22px;
        }
        
        @include mq(desktop) {
        font-size: 24px;
        }  
    }

    &__description {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet) {
        font-size: 16px;
        }
        
        @include mq(desktop) {
        font-size: 18px;
        } 
    }
}