.related {
    &-list {
        display: flex;
        flex-direction: column;
        margin: -12px;
        box-sizing: border-box;

        @include mq(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 100%;
        margin: 12px;
        box-sizing: border-box;

        @include mq(tablet) {
            max-width: calc(50% - 24px);
        }

        @include mq(desktop) {
            max-width: calc(33.333% - 24px);
        }
    }

    &__item:nth-child(3) {
        @include mq(tablet) {
        margin-left: auto;
        margin-right: auto;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-white-bg;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__details {
        padding: 10px 15px;
        max-height: 200px;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        flex-grow: 1;
    }

    &__details.is-expanded {
        max-height: 1000px;
    }
    
    &__details.is-expanded .related__full-text {
        display: block;
    }

    &__head-link {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        color: $color-black;
    }

    &__description {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-black;
    }

    &__description:last-child {
        margin-bottom: 0px;
    }

    &__description--short {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-black;
    }

    &__btn {
        padding:10px 20px 20px 20px;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;
        color: $color-akcent;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__full-text {
        display: block;
        padding-top: 5px;
    }

    &__list {
        padding-left: 20px;
        list-style: disc;
    }

    &__list li {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-black;
    }
}
