.related {
    &-list {
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin: -12px;
        box-sizing: border-box;

        @include mq(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 100%;
        // flex-basis: 100%;
        margin: 12px;
        box-sizing: border-box;

        @include mq(tablet) {
            max-width: calc(50% - 24px);
            // flex-basis: calc(50% - 24px);
        }

        @include mq(desktop) {
            max-width: calc(33.333% - 24px);
            // flex-basis: calc(50% - 24px);
        }
    }

    &__item:nth-child(3) {
        @include mq(tablet) {
        margin-left: auto;
        margin-right: auto;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-white-bg;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__details {
        padding: 10px 15px;
        max-height: 190px; /* Обмеження висоти блоку */
        overflow: hidden; /* Приховуємо все, що виходить за межі */
        transition: max-height 0.4s ease-in-out; /* Плавний перехід */
        flex-grow: 1;
    }

    &__details.is-expanded {
        max-height: 1000px; /* Велика висота для повного розкриття */
    }
    
    &__details.is-expanded .related__full-text {
        display: block; /* Показуємо повний текст, коли блок розкритий */
    }

    &__head-link {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        color: $color-black;
    }

    &__description {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-black;
    }

    &__description:last-child {
        margin-bottom: 0px;
    }

    &__description--short {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-black;
    }

    &__btn {
        padding:10px 20px 20px 20px;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;
        color: $color-akcent;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__full-text {
        display: none; /* Приховуємо повний текст за замовчуванням */
    }

    &__list {
        // margin-top: 1em; 
        // margin-bottom: 1em; // Відступи між списками та іншим текстом
        padding-left: 20px; // Стандартний відступ для маркерів
        list-style: disc; // Використання стандартних маркерів
    }

    &__list li {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        color: $color-black;
    }
}
