.hero {
    position: relative;
    padding: 20px 0;
    min-height: 650px;
    background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/home/hero-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: 30%;
        
        @include mq(tablet) {
            background-position: center;
        }

    &.townhouse {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/townhouse/hero-townhouse.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &.kitchen {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/kitchen/hero-kitchen.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: 60%;
        
        @include mq(tablet) {
            background-position: center;
        }
    }

    &.bathroom {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/bathroom/hero-bathroom.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: 30%;
        
        @include mq(tablet) {
            background-position: center;
        }
    }

    &.interior {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/interior/hero-interior.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &.exterior {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/exterior/hero-exterior.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: 25%;
        
        @include mq(tablet) {
            background-position: center;
        }
    }

    &.smart {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/services/smart/hero-smart.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: start;
        
        @include mq(tablet) {
            background-position: center;
        }
    }

    &__title {
        max-width: 90%;
        margin-bottom: 15px;
        color: $color-white;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 600;
        text-align: left;
    
        @include mq(tablet) {
           max-width: 70%;
           font-size: 32px;
           line-height: 1.3;
        }

        @include mq(desktop) {
           max-width: 600px;
           margin-bottom: 25px;
           font-size: 48px;
           font-weight: 700;
           line-height: 1.36;
        //    text-align: left;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $color-white;
        font-size: 20px;
        font-weight: 400;
        text-align: left;

        @include mq(tablet) {
           font-size: 22px;
        }

        @include mq(desktop) {
            max-width: 500px;
            margin-bottom: 60px;
            font-size: 26px;
            font-weight: 700;
            // text-align: left;
        }
    }

    &__img-director {
        display: none;

        @include mq(desktop) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 35%;
            width: 300px;
            z-index: 1;
        }

        @include mq(monitor) {
            right: 42%;
            width: 380px;
        }
    }

    &__slogan {
        display: none;

        @include mq(desktop) {
            display: block;
            position: absolute;
            bottom: 25%;
            right: 35%;
            max-width: 210px;
            padding: 15px 20px;
            font-size: 18px;
            font-weight: 600;
            color: $color-akcent;
            background-color: $color-white;
            line-height: 1.5;
            border-radius: 20px;
            z-index: 5;

            @include mq(monitor) {
                right: 42%;
                font-size: 22px;
                max-width: 260px;
            }

            &::before {
                    content: '';
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzgiIGhlaWdodD0iNzkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUxLjg1NSAxMi4xMTZMMTQuODcyIDQyLjAxM1Y1Ni41aDQxLjE4NFY0Mi4wMTNsMy4wMTUtMjkuODk3YTQuMjAyIDQuMjAyIDAgMDAtMS41MjUtMS41NDkgNC4xMTUgNC4xMTUgMCAwMC00LjE2NiAwIDQuMjAyIDQuMjAyIDAgMDAtMS41MjUgMS41NXoiIGZpbGw9IiNGRkZGRkYiLz48L3N2Zz4=);                    width: 75px;
                    display: block;
                    height: 65px;
                    position: absolute;
                    bottom: calc(100% - 35px);
                    transform: scaleX(-1);
                    background-size: contain;
                    z-index: 1;
                    left: 90px;
                    filter: grayscale(1) brightness(3);
            }
        }

        &>span {
            font-size: 16px;
            font-weight: 500;
            color: $color-black;

            @include mq(monitor) {
                font-size: 18px;
            }
        }
    }

    &-form {
        margin: 0 auto 20px;
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.7);

        @include mq(desktop) {
            position: absolute;
            top: 20px;
            // right: 25px;
            left: calc(50% + 270px);
            width: 420px;
            margin: 0;
        }

        @include mq(monitor) {
            // right: 225px;
            left: calc(50% + 300px);
            width: 430px;
        }
        
        &__flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            text-align: center;
            margin-bottom: 10px;
            color: $color-black;
            font-size: 28px;
            font-weight: 600;            
        }

        &__field {
            width: 100%;
            margin-bottom: 20px;
        }

        &__label {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            color: $color-black;
            font-weight: 400;

            @include mq(desktop) {
                font-size: 16px;
            }
        }

        &__input,
        &__comment {
            width: 100%;
            padding: 10px;
            border: none;
            font-size: 16px;
            box-sizing: border-box;
            
        }

        &__input:focus,
        &__comment:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(185, 142, 109, 0.4);
        }
        // &__comment {
        //     resize: vertical;
        //     min-height: 80px;
        // }

        &__policy-option {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
            color: $color-black;
            cursor: pointer;   
        }
        
        &__inner-wrapper {
            display: inline-block;
        }

        &__link {
            margin-left: 4px;
            color: $color-akcent;
            font-weight: 400;
        }
        
        &__checkbox {
            /* Скрываем стандартный чекбокс */
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &__icon-check {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid $color-black;
            border-radius: 4px;
            position: relative;
            margin-right: 10px;
            flex-shrink: 0; /* Чтобы не сжимался */
        }

        &.hero-form__checkbox:checked + &__icon-check {
            background-color: $color-dark-bg;
            border-color: $color-dark-bg;
        }

        &__checkbox:checked + &__icon-check::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 1px;
            width: 7px;
            height: 12px;
            border: solid $color-akcent;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        &__policy-link {
            color: var(--primary-color); /* Цвет ссылки в тексте */
            text-decoration: none;
            transition: color 0.3s ease;
        }

        &__policy-link:hover {
            color: #0056b3;
            text-decoration: underline;
        }
        
        &__submit-btn {
            width: 70%;
            background-color: $color-akcent;
            color: $color-white;
            padding: 15px 40px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color $duration $timing-function;
        }

        &__submit-btn:hover,
        &__submit-btn:focus {
            background-color: $color-btn-hover;
    }

    }

    &__list {
        margin-bottom: 20px;

        @include mq(desktop) {
            margin-bottom: 80px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        max-width: 400px;
    }

    &__item>img {
        width: 25px;

        @include mq(desktop) {
            width: 30px;
        }
    }

    &__description {
        font-size: 16px;

        @include mq(desktop) {
            font-size: 18px;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__btn {
        display: inline-block;
        width: 170px;
        height: 50px;
        padding: 15px 25px;
        border: none;
        background-color: $color-akcent;
        color: $color-white;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color $duration $timing-function;

        @include mq(tablet) {
            // width: 300px;
        }
    }

    &__btn:hover,
    &__btn:focus {
        background-color: $color-btn-hover;
    }
}