.hero {
    padding: 20px 0;
    min-height: 650px;
    background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/folder/hero--1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;

    &.kitchen {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/folder/hero--kitchen-1.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &.bathroom {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/folder/hero--bathroom.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &.interior {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/folder/hero--interior.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &.exterior {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/folder/hero--exterior.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &.smart {
        background: linear-gradient(to right, rgba(9, 10, 15, 0.6), rgba(47,48,58,0.2)), url('../images/folder/hero--smart.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }

    &>.container {
        @include mq(desktop) {
         position: relative;
        }
    }

    &__title {
        max-width: 90%;
        margin-bottom: 15px;
        color: $color-white;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 600;
        text-align: left;
    
        @include mq(tablet) {
           max-width: 70%;
           font-size: 32px;
           line-height: 1.3;
        }

        @include mq(desktop) {
           max-width: 600px;
           margin-bottom: 25px;
           font-size: 48px;
           font-weight: 700;
           line-height: 1.36;
        //    text-align: left;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        color: $color-white;
        font-size: 20px;
        font-weight: 400;
        text-align: left;

        @include mq(tablet) {
           font-size: 22px;
        }

        @include mq(desktop) {
            max-width: 500px;
            margin-bottom: 60px;
            font-size: 26px;
            font-weight: 700;
            // text-align: left;
        }
    }

    &-form {
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.7);

        @include mq(desktop) {
            position: absolute;
            top: 0;
            right: 30px;
            width: 410px;
        }

        @include mq(desktop) {
            top: 0;
            right: 25px;
            width: 420px;
        }

        @include mq(monitor) {
            right: 225px;
            width: 430px;
        }
        
        &__flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            text-align: center;
            margin-bottom: 10px;
            color: $color-black;
            font-size: 28px;
            font-weight: 600;            
        }

        &__field {
            width: 100%;
            margin-bottom: 20px;
        }

        &__label {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            color: $color-black;
            font-weight: 400;

            @include mq(desktop) {
                font-size: 16px;
            }
        }

        &__input,
        &__comment {
            width: 100%;
            padding: 10px;
            border: none;
            font-size: 16px;
            box-sizing: border-box;
            
        }

        &__input:focus,
        &__comment:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(185, 142, 109, 0.4);
        }
        // &__comment {
        //     resize: vertical;
        //     min-height: 80px;
        // }

        &__policy-option {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
            color: $color-black;
            cursor: pointer;   
        }
        
        &__inner-wrapper {
            display: inline-block;
        }

        &__link {
            margin-left: 4px;
            color: $color-akcent;
            font-weight: 400;
        }
        
        &__checkbox {
            /* Скрываем стандартный чекбокс */
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &__icon-check {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid $color-black;
            border-radius: 4px;
            position: relative;
            margin-right: 10px;
            flex-shrink: 0; /* Чтобы не сжимался */
        }

        &.hero-form__checkbox:checked + &__icon-check {
            background-color: $color-dark-bg;
            border-color: $color-dark-bg;
        }

        &__checkbox:checked + &__icon-check::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 1px;
            width: 7px;
            height: 12px;
            border: solid $color-akcent;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        &__policy-link {
            color: var(--primary-color); /* Цвет ссылки в тексте */
            text-decoration: none;
            transition: color 0.3s ease;
        }

        &__policy-link:hover {
            color: #0056b3;
            text-decoration: underline;
        }
        
        &__submit-btn {
            width: 70%;
            background-color: $color-akcent;
            color: $color-white;
            padding: 15px 40px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: background-color $duration $timing-function;
        }

        &__submit-btn:hover,
        &__submit-btn:focus {
            background-color: $color-btn-hover;
    }

    }

    &__list {
        margin-bottom: 20px;

        @include mq(desktop) {
            margin-bottom: 80px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__btn {
        display: inline-block;
        width: 100%;
        max-height: 50px;
        padding: 15px 25px;
        border: none;
        background-color: $color-akcent;
        color: $color-white;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color $duration $timing-function;

        @include mq(tablet) {
            width: 300px;
        }
    }

    &__btn:hover,
    &__btn:focus {
        background-color: $color-btn-hover;
    }
}